
Flask==1.1.2
gunicorn==20.0.4
Jinja2==2.11.2
pickleshare==0.7.5
scikit-image==0.17.2
spacy==2.2.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
